<% form_for @branch do |f| %>
<div id="title">
	<span>
		<p class="field left"><%= f.text_field :name, :class => "branch_name_field" %></p>
		<%= f.submit "Finished", :class => "right metal in_title", :style => "font-size:1.0em" %>
	</span>
</div>

<div id="main">
	<div class="full_pane">
	  <p class="field">
			<label>Description</label><%= f.text_area :description %>
		</p>
		<p class="field">
			<label>Elements</label>
			<input type="checkbox">News Feed</input><br>
			<input type="checkbox">Attachments</input><br>
			<input type="checkbox">Images</input><br>
			<input type="checkbox">Links</input><br>
			<input type="checkbox">Maps</input><br>
			<input type="checkbox">Notes</input><br>
			<input type="checkbox">Tasks</input><br>
			<input type="checkbox">Videos	</input><br>
		</p>
		
	</div>
</div>
<% end %>

<script>
	$(document).ready(function(){
		$("ul.element_types li").click(function(){
			var type = $(this).attr("rel");
			$.post("<%= branch_elements_path(@branch) %>?type_id="+type, function(data) {
			  $('div#staging').html(data);
			});
		})
	})
</script>
