<% form_for @branch do |f| %>
<div id="title">
	<span>
		<p class="field left"><%= f.text_field :name, :class => "branch_name_field" %></p>
		<%= f.submit "Finished", :class => "right metal in_title", :style => "font-size:1.0em" %>
	</span>
</div>

<div id="main">
	<div class="pane_left pane_large">
	  <p class="field">
			<label>Description</label><%= f.text_area :description %>
		</p>
		
		<%# These options appear when relative element is enabled %>
		
		<p class="field">
			<label>Privacy</label>
			<input type="radio">Public</input>
			<input type="radio">Private</input>
		</p>
		<p class="field options_element_attachments" style="display:none">
			<label>Attachments</label>
			Allow users to upload attachments
			<input type="radio">Yes</input>
			<input type="radio">No</input>
		</p>
		<p class="field options_element_images" style="display:none">
			<label>Images</label>
			Allow users to upload images
			<input type="radio">Yes</input>
			<input type="radio">No</input>
		</p>
		<p class="field options_element_links" style="display:none">
			<label>Links</label>
			Allow users to add links
			<input type="radio">Yes</input>
			<input type="radio">No</input>
		</p>
		<p class="field options_element_maps" style="display:none">
			<label>Maps</label>
			Allow users to add maps
			<input type="radio">Yes</input>
			<input type="radio">No</input>
		</p>
		<p class="field options_element_tasks" style="display:none">
			<label>Tasks</label>
			Allow users to add tasks
			<input type="radio">Yes</input>
			<input type="radio">No</input>
		</p>
		<p class="field options_element_videos" style="display:none">
			<label>Videos</label>
			Allow users to add videos
			<input type="radio">Yes</input>
			<input type="radio">No</input>
		</p>
	</div>
	<div class="pane_right pane_small">
		<p class="field">
			<label>Elements</label>
			<h4>You will NOT lose any data by removing an element. Re-add an element in the future and continue where you left off. It's not witchcraft we promise.</h4>
			<div class="edit_elements">
				<p rel="element_attachments">
					<input type="checkbox" class="element_attachments">
						<b>Attachments</b>
						<span>
							This element gives users the ability to upload files to the Topic. These files are listed in a thumb nail view which can be sorted and downloaded.
						</span>
					</input>
				</p>
				<p rel="element_feed">
					<input type="checkbox" class="element_feed">
						<b>News Feed</b>
						<span>
							This element displays a log of all events related to this Topic. A list of events of the Topic's history
						</span>
					</input>
				</p>
				<p rel="element_images">
					<input type="checkbox" class="element_images">
						<b>Images</b>
						<span>
							This element gives users the ability to upload files to the Topic. These files are listed in a thumb nail view which can be sorted and downloaded.
						</span>
					</input>
				</p>
				<p rel="element_links">
					<input type="checkbox" class="element_links">
						<b>Links</b>
						<span>
							This element gives you the ability to post links related to the Topic. By default, all followers of a Topic may add a link which is viewable by all users. 
						</span>
					</input>
				</p>
				<p rel="element_maps">
					<input type="checkbox" class="element_maps">
						<b>Maps</b>
						<span>
							The Map element unlocks the ability for this Topic to have an interactive map of any number of locations. 
						</span>
					</input>
				</p>
				<p rel="element_tasks">
					<input type="checkbox" class="element_tasks">
						<b>Tasks</b>
						<span>
							Through this element you are able to create and delegate tasks focused around this Topic.
						</span>
					</input>
				</p>
				<p rel="element_videos">
					<input type="checkbox" class="element_videos">
						<b>Videos</b>
						<span>
							The Video element allows users to upload/download videos based on this Topic. A list of available videos are displayed where it can be either streamed or downloaded.
						</span>
					</input>
				</p>
				
			</div>
		</p>
		
	</div>
</div>
<% end %>

<script>
	$(document).ready(function(){
		$("ul.element_types li").click(function(){
			var type = $(this).attr("rel");
			$.post("<%= branch_elements_path(@branch) %>?type_id="+type, function(data) {
			  $('div#staging').html(data);
			});
		})
		
		$(".edit_elements p").click( function (){
			element = $(this).attr("rel");
			if ($("." + element).attr("checked","")) {
				$("." + element).attr("checked","checked");
				$(".options_" + element).css("display", "")
				
			}
			
		
		})
		
	})
</script>
