<div id="title">
	<span>
		<h1>Branches</h1>
		<p class="button right"><%= link_to "Create a Branch", new_branch_path, :class => "icon branch" %></p>
	</span>
</div>

<div id="main">
		
		<div class="left_pane list">
			<input class="find" value="Search for a branch" />
			<% for branch in @branches %>
			<div class="item" style="background:url('/images/icons/branches32x32.png') no-repeat;">
				<h2><%= link_to branch.name, branch_path(branch) %><small><b>by <%= link_to branch.creator.name, user_path(branch.creator) %></b></small></h2>
				<%= branch.description %>
			</div>
			<% end %>
		</div>
		
		<div class="right_pane">
			<div class="boxy">
				<h2>Filter</h2>
				<h4>Tags:</h4>
				<ul>
					<li><input type="checkbox" /> Idea</li>
				</ul>	
			</div>
		</div>
		
</div>
