<div id="title">
	<span>
		<h1>Branches</h1>
		<p><%= link_to "Create a Branch", "#", :style => "background:#D6F2D2 url('/images/icons/branches.png') no-repeat scroll 6px 4px; padding:7px 5px 5px 30px" %></p>
	</span>
</div>

<div id="main">

	<div class="list">
		<div class="list_header">
			<input value="Search for a branch" />
		</div>
		<div class="list_filter round">
			<h3>Filter</h3>
			<h4>Tags:</h4>
			<ul>
				<li><input type="checkbox" /> Idea</li>
			</ul>	
		</div>
		<div class="item" style="background:url('/images/icons/branches32x32.png') no-repeat;">
			<h2>Flurish Website<small><b>by Brandon Dek</b></small></h2>
			This branch is dedicated the the on-going development of the Flurish website. Follow this to keep up-to-date on it's progress and discuss ideas.
		</div>
		<div class="item" style="background:url('/images/icons/branches32x32.png') no-repeat;">
			<h2>Flurish Website<small><b>by Brandon Dek</b></small></h2>
			This branch is dedicated the the on-going development of the Flurish website. Follow this to keep up-to-date on it's progress and discuss ideas.
		</div>
		<div class="item" style="background:url('/images/icons/branches32x32.png') no-repeat;">
			<h2>Flurish Website<small><b>by Brandon Dek</b></small></h2>
			This branch is dedicated the the on-going development of the Flurish website. Follow this to keep up-to-date on it's progress and discuss ideas.
		</div>
		<div class="item" style="background:url('/images/icons/branches32x32.png') no-repeat;">
			<h2>Flurish Website<small><b>by Brandon Dek</b></small></h2>
			This branch is dedicated the the on-going development of the Flurish website. Follow this to keep up-to-date on it's progress and discuss ideas.
		</div>
		<div class="item" style="background:url('/images/icons/branches32x32.png') no-repeat;">
			<h2>Flurish Website<small><b>by Brandon Dek</b></small></h2>
			This branch is dedicated the the on-going development of the Flurish website. Follow this to keep up-to-date on it's progress and discuss ideas.
		</div>
	</div>
	
</div>
