<div id="title">
	<span>
		<h1>Branches</h1>
		<p class="button right"><%= link_to "Create a Branch", new_branch_path, :class => "icon branch right" %></p>
	</span>
</div>

<div id="main">

	<div class="list">
		<div class="list_header">
			<input value="Search for a branch" />
		</div>
		<div class="list_filter round">
			<h3>Filter</h3>
			<h4>Tags:</h4>
			<ul>
				<li><input type="checkbox" /> Idea</li>
			</ul>	
		</div>
		<% for branch in @branches %>
		<div class="item" style="background:url('/images/icons/branches32x32.png') no-repeat;">
			<h2><%= link_to branch.name, branch_path(branch) %><small><b>by <%= link_to branch.creator.name, user_path(branch.creator) %></b></small></h2>
			<%= branch.description %>
		</div>
		<% end %>
	
</div>
