<div id="title">
	<span>
		<h1>Create a Branch</h1>
	</span>
</div>

<div id="main">
	<div id="create_branch" class="padded">
		<% form_for @branch do |f| %>
		  <p class="field">
				<label>Branch Name</label><%= f.text_field :name %>
			</p>
			<p class="field">
				<label>Description</label><%= f.text_area :description %>
			</p>
			<p class="full center left clear"><%= f.submit "Create Branch", :class => "metal" %></p>
		<% end %>
	</div>
</div>
