<div id="title">
	<span>
		<h1><%= @branch.name %> <small><%= link_to "(design)", edit_branch_path(@branch) %></small></h1>
		<% if @user.following? @branch %>
			<%= link_to "Stop Following", stop_following_branch_path(@branch), :class =>  "right metal in_title" %>
		<% else %>
			<%= link_to "Follow", follow_branch_path(@branch), :class =>  "right metal in_title" %>
		<% end %>
		
	</span>
</div>

<div id="main">
	<div id="show_branch" class="padded">

	</div>
</div>
