<div class="branch_notes element_frame" rel="notes">
	<div class="element_header notes_header" style="display:none">Notes</div>
	<% unless @branch.note.nil? %>
		<%= @branch.note.body %>
	<% else %>
		<%= link_to "Add", "#" %> notes to this branch.
	<% end %>
</div>