<% form_for :note, :url => topic_element_notes_path(@topic,@element), :html => { :id => "notes_form" } do |f| %>
	<%= render :partial => "/notes/ui/form", :locals => {:f => f} %>
	<p class="full center left clear"><%= f.submit "Save Note", :class => "metal" %></p>
<% end %>