<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head></head>
<body style="background-color:#ffffff; font-family: 'helvetica';">

<%= @subject %>
<br /> <br />
<table cellpadding="20" width="100%" bgcolor="#e9e9e9" align="center" style="color:#777777">
<tr>
	<td>
		<i>
		<blockquote><%= @comment.message %></blockquote>
		</i>
	</td>
</tr>
</table>
<br /> <br />
<%= link_to "a link to the isolated comments goes here", "#" %>
</body>
</html>