<div id="title">
	<span>
		<h1>Create a Topic</h1>
	</span>
</div>

<div id="main">
	<div id="create_topic" class="padded">
		<% form_for @topic do |f| %>
		  <p class="field">
				<label>Branch Name</label><%= f.text_field :name %>
			</p>
			<p class="field">
				<label>Tags</label><%= f.text_field :tag_list, :size => 100 %>
			</p>
			<p class="field">
				<label>Description</label><%= f.text_area :description %>
			</p>
			<p class="full center left clear"><%= f.submit "Create Topic", :class => "metal" %></p>
		<% end %>
	</div>
</div>
