/* Branches Feed */

div#branch_feed {
	overflow:auto;
	color:#555;
}

div#branch_feed a {
	font-weight:bold;
}

div#branch_feed p {
	background:url('/users/avatars/3/small_Photo_on_2009-10-22_at_20.49.jpg') no-repeat;
	padding:0 0 10px 30px;
	margin-top:10px;
	border-bottom:1px solid #ccc;
	line-height:1.5em;
}

div#branch_feed p img {
	margin-right:5px;
	position:relative;
	top:3px;
}

div#branch_feed small {
}

/* Branch Edit */

ul.element_types {
	color:#333;
	padding:10px;
}

ul.element_types li {
	cursor:pointer;
}

ul.element_types li:hover {
	font-weight:bold;
}

ul.element_types li img {
	height:16px;
	width:16px;
	padding-right:5px;
	position:relative;
	top:4px;
}

/* Branch Show */

div.description {
	color:#777;
}

div.description h4 {
	font-weight:normal;
	margin-top:0;
	margin-bottom:10px;
}

div.description i {
	margin-right:10px;
	color:#6DBE2A;
}

div.description textarea {
	width:100%;
	max-width:100%;
	padding:5px;
	height:70px;
}

.branch_panel {
	margin-bottom:40px;
}

.branch_panel h1.header {
	font-size:1.2em;
	color:#000;
	text-transform:uppercase;
	margin-bottom:25px;
	margin-top:1px;
}

div.branch_attachments {
	overflow:auto;
}

div.branch_attachments label {
	color:#777;
	font-size:0.8em;
	float:left;
	cursor:pointer;
	padding:10px;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

div.branch_attachments label img {
	display:block;
}

div.branch_attachments label:hover {
	background:#ddd; 
}

/* Elements */

div.element_header {
	overflow:auto;
	padding:5px 0 5px 0;
	margin-bottom:10px;
}

div.element_header:hover {
	border-bottom:1px solid #eee;
	margin-bottom:9px;
}

div.element_header h1 {
	float:left;
	font-size:1.2em;
	color:#333;
	letter-spacing:0.05em;
}

div.element_header a.element_exit {
	float:right;
	margin-right:10px;
}

div.branch_footer {
	width:100%;
	border-top:1px solid #ddd;
	background:#eee;
	overflow:auto;
	padding:5px;
	-webkit-border-radius:0 0 5px 5px;
}