@import "ui.css";
@import "facebox.css";
@import "login.css";
@import "branches.css";

body {
	font-family: "Helvetica";
	margin:0;
	background:#fff;
	font-size:0.85em;
}

div.notice, div.error {
	width:250px;
	text-align:center;
	margin:0 auto;
}

div.notice {
	color:#43813E;
	background:#D6FFDC;
	border:2px solid #839B86;
	padding:10px;
	-moz-border-radius:6px;
	float:left;
	position:relative;
	left:300px;
	top:200px;
	z-index:9999;
	-moz-box-shadow: black 0px 0px 10px;
	-webkit-box-shadow: black 0px 0px 10px;
	
}

div.error {
	color:#842026;
	background-color:#FFE5E2;
	border:2px solid #CE9B9B;
	padding:5px;
	-moz-border-radius:6px;
}

a {
	border:0;
	text-decoration:none;
	color:#31418D;
}

a:hover {
	text-decoration:underline;
}

p, h1, h2, h3, ul {
	padding:0;
	margin:0;
}

ul {
	list-style-type:none;
}

img {
	border:0;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.full {
	width:100%;
}

.center {
	text-align:center;
	margin:0 auto;
}

.inline {
	display:inline;
}

.off {
	display:none;
}

b.small {
	font-size:0.85em;
}

.round {
	-moz-border-radius:5px;
	-webkit-border-radius:5px 5px;
}

.shadow {
	-moz-box-shadow: 1px 1px 8px #bbb;
	-webkit-box-shadow: 2px 2px 6px #bbb;
	box-shadow: 2px 2px 6px #bbb;
}

.padded {
	padding:15px;
}

input:focus {
	outline-width:0;
}

textarea:focus {
	outline-width:0;
}

/* Avatar */

img.avatar_thumb {
	width:50px;
	height:50px;
}

/* Layout */

div#header {
	color:#fff;
	min-height:56px;
	background:#111 url('/images/header_slice.png') repeat-x;
}

div#header a {
	color:#fff;
}

div#header img.logo {
	position:relative;
	float:left;
	padding:5px 0 0 0;
}

div#header span {
	display:block;
	width:950px;
	margin:0 auto;
}

div#header h1 {
	float:left;
	width:50%;
}

div#header ul {
	float:right;
	width:50%;
	text-align:right;
	line-height:2.6em;
	float:right;
	cursor:pointer;
}

div#header ul li {
	float:right;
	display:inline;
	padding:10px 10px 10px 10px;
	border-left:1px solid #333;
	border-right:1px solid #000;
	background:url('/images/button_highlight_bottomright.png') no-repeat bottom right;
	cursor:pointer;
}

div#header ul li:hover {
	background:transparent;
}

div#header ul li img {
	height:16px;
	width:16px;
	float:left;
	padding-right:5px;
	margin-top:7px;
}

div#content {

}

div#main {
	background:#fff url('/images/content_top.png') no-repeat top;
	width:950px;
	position:relative;
	top:-20px;
	margin:0px auto;
	overflow:auto;
}

div#title {
	background:#dfdfdf;
	border-bottom:1px solid #999;
	height:60px;
	padding:20px;
}

div#title span {
	width:950px;
	display:block;
	margin:0 auto;
}

/* Title - with status bar */

div#title span p#status {
	float:right;
	margin:0;
}

div#title span p#status input.status {
	font-size:1.4em;
	width:400px;
	color:#777;
	border:1px solid #ccc;
	padding:5px 5px 5px 5px;
	background:#fff;
	cursor:text;
	text-shadow:0;
	font-weight:normal;

}

input#submit_status {
	height:32px;
	color:#555;
	font-size:1.0em;
	border:0;
	border:1px solid #ccc;
	z-index:9999;
	cursor:pointer;
	position:relative;
	top:-1px;

}

/* end status bar */

div#title h1 {
	color:#444; 
	font-size:2em;
	font-weight:normal;
	line-height:1.9em;
	float:left;
	text-shadow: #fff 0px 1px 0px;
}

div#title h1 img {
	float:left;
	margin-left:4px;
	margin-right:10px;
}

div#title h1 small {
	font-size:0.6em;
	text-shadow:none;
	margin-left:5px;
	position:relative;
	top:-3px;
}


.left_pane {
	float:left;
	width:563px;
	padding:20px 10px 20px 20px;
}

.right_pane {
	float:right;
	width:325px;
	padding:20px 20px 20px 10px;
}

.full_pane {
	padding:20px;
}

/* Feed */

div#feed {
	overflow:auto;
}

div#feed div.activity {
	margin:2px 0;
}

div#feed div.activity div.activible {
	padding:3px
}

div#feed div.activity div.activible div.stamp {
	display:inline-block;
	position:relative;
	top:7px;
	line-height:1.5em;
	text-indent:10px;
}

div#feed div.activity div.activible div.stamp div.metadata {
	font-size:0.8em;
	color:#777;
}

/* Branches Feed */

div#branches_feed {
	overflow:auto;
	color:#999;
}

div#branches_feed a {
	font-weight:normal;
}

div#branches_feed div.activity {
	margin:2px 0;
}

div#branches_feed div.activity div.activible {
	padding:3px
}

div#branches_feed div.activity div.activible div.stamp {
	display:inline-block;
	text-indent:10px;
}

div#branches_feed div.activity div.activible div.stamp div.metadata {
	font-size:0.8em;
	color:#777;
}

/* Main List */

div.list div.item h2 {
	color:#333;
	margin-top:5px;
	margin-bottom:5px;
}

div.list img {
}

div.list h2 small {
	color:#555;
	font-size:0.6em;
}

.with_icon {
	max-width:855px;
	padding-left:60px;
}

div.list div.item {
	padding-bottom:10px;
	margin-bottom:10px;
	width:100%;
	overflow:auto;
	border-bottom:1px solid #ddd;
	color:#555;
}

div.item div.details {
	float:left;
	width:70%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

div.item div.follow {
	float:right;
	margin-top:15px;
	margin-right:2px;
}

/* Comments */

div.comments {
	background:#f0f0f0;
	width:50%;
	margin-left:60px;
}

div.comments p {
	clear:both;
	padding:5px;
}

div.comments p span {
	display:block;
}

div.comments p small {
	display:block;
	color:#777;
	margin-top:5px;
}

div.comments p input {
	width:450px;
}

div.comments p input.add_comment {
	border:1px solid #C4E9C9;
	padding:3px;
	color:#777;
	width:440px;
}

div.comments p.new_comment textarea {
	height:30px;
	width:437px;
	max-width:437px;
	border:1px solid #C4E9C9;
	padding:5px;
}

/* Branches */


div.branch {
	background:url('/images/icons/branches32x32.png') no-repeat;
}