@import "ui.css";
@import "facebox.css";
@import "login.css";

body {
	font-family: "Helvetica";
	margin:0;
	background:#fff;
	font-size:0.85em;
}

div.notice, div.error {
	width:250px;
	text-align:center;
	margin:0 auto;
}

div.notice {
	color:#43813E;
	background-color:#D6FFDC;
	border:2px solid #839B86;
	padding:5px;
	-moz-border-radius:6px;
	float:left;
	position:relative;
	top:5px;
	left:300px;
}

div.error {
	color:#842026;
	background-color:#FFE5E2;
	border:2px solid #CE9B9B;
	padding:5px;
	-moz-border-radius:6px;
}

a {
	border:0;
	text-decoration:none;
	color:#536C99;
}

a:hover {
	text-decoration:underline;
}

p, h1, h2, h3, ul {
	padding:0;
	margin:0;
}

ul {
	list-style-type:none;
}

img {
	border:0;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.full {
	width:100%;
}

.center {
	text-align:center;
	margin:0 auto;
}

.inline {
	display:inline;
}

.off {
	display:none;
}

b.small {
	font-size:0.85em;
}

.round {
	-moz-border-radius:5px;
	-webkit-border-radius:5px 5px;
}

.shadow {
	-moz-box-shadow: 1px 1px 8px #bbb;
	-webkit-box-shadow: 2px 2px 6px #bbb;
	box-shadow: 2px 2px 6px #bbb;
}

.padded {
	padding:15px;
}

/* Avatar */

img.avatar_thumb {
	width:50px;
	height:50px;
}

/* Layout */

div#header {
	overflow:auto;
	color:#fff;
	min-height:56px;
	background:#111 url('/images/header_slice.png') repeat-x;
}

div#header a {
	color:#fff;
}

div#header img.logo {
	position:relative;
	float:left;
	padding:5px 0 0 0;
}

div#header span {
	display:block;
	width:950px;
	margin:0 auto;
}

div#header h1 {
	float:left;
	width:50%;
}

div#header ul {
	float:right;
	width:50%;
	text-align:right;
	line-height:2.6em;
	float:right;
	cursor:pointer;
}

div#header ul li {
	float:right;
	display:inline;
	padding:10px 10px 10px 10px;
	border-left:1px solid #333;
	border-right:1px solid #000;
	background:url('/images/button_highlight_bottomright.png') no-repeat bottom right;
	cursor:pointer;
}

div#header ul li:hover {
	background:transparent;
}

div#header ul li img {
	height:16px;
	width:16px;
	float:left;
	padding-right:5px;
	margin-top:7px;
}

div#content {
	overflow:auto;
}

div#main {
	background:#fff url('/images/content_top.png') no-repeat top;
	width:950px;
	position:relative;
	top:-20px;
	margin:0px auto;
	overflow:auto;
}

div#title {
	background:#dfdfdf;
	border-bottom:1px solid #999;
	height:60px;
	padding:20px;
}

div#title span {
	width:950px;
	display:block;
	margin:0 auto;
}

/* Title - with status bar */

div#title span p#status {
	float:right;
	margin:0;
}

div#title span p#status input.status {
	font-size:1.4em;
	width:500px;
	color:#777;
	border:1px solid #ccc;
	padding:5px 100px 5px 5px;
	background:#fff;
	cursor:text;
	text-shadow:0;
	font-weight:normal;
}

input#submit_status {
	background:#eee;
	height:33px;
	color:#555;
	font-size:1.0em;
	border:0;
	border-left:1px solid #ccc;
	z-index:9999;
	cursor:pointer;
	float:right;
	position:relative;
	left:-7px;
	margin-top:-40px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
}

input#submit_status:hover {
	background:#eee url('/images/black_gradient_bottom.png') repeat-x bottom;
	text-shadow:#fff 0px 1px 0px;
}

div#title span small {
	float:right;
	display:block;
}

div#title h1 {
	color:#444; 
	font-size:2em;
	font-weight:normal;
	line-height:1.9em;
	float:left;
	text-shadow: #fff 0px 1px 0px;
}

div#title h1 img {
	float:left;
	margin-left:4px;
	margin-right:10px;
}

div#title h1 small {
	font-size:0.6em;
	text-shadow:none;
	position:relative;
	top:2px;
	margin-left:5px;
}

.left_pane {
	float:left;
	width:563px;
	padding:20px 10px 20px 20px;
}

.right_pane {
	float:right;
	width:325px;
	padding:20px 20px 20px 10px;
}

.full_pane {
	padding:20px;
}

/* Feed */

div#feed {
	overflow:auto;
}

div#feed div.activity {
	background-color:#f0f0f0;
	margin:2px 0;
}

div#feed div.activity div.activible {
	padding:3px;

}

div#feed div.activity div.activible div.stamp {
	display:inline-block;
	position:relative;
	top:7px;
	line-height:1.5em;
	text-indent:10px;
}

/* Main List */

div.list h2 {
	color:#333;
}

div.list img {
}

div.list h2 small {
	color:#555;
	margin-left:5px;
	font-size:0.6em;
}

div.list div.item {
	padding-left:55px;
	padding-bottom:20px;
	margin-bottom:10px;
	margin-bottom:20px;
	width:855px;
	overflow:auto;
	border-bottom:1px solid #ddd;
	color:#555;
}

div.item div.details {
	float:left;
	width:70%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

div.item div.follow {
	float:right;
	margin-top:6px;
}

/* Branches */


div.branch {
	background:url('/images/icons/branches32x32.png') no-repeat;
}