/* Topics Edit */

ul.element_types {
	color:#333;
	padding:10px;
}

ul.element_types li {
	cursor:pointer;
}

ul.element_types li:hover {
	font-weight:bold;
}

ul.element_types li img {
	height:16px;
	width:16px;
	padding-right:5px;
	position:relative;
	top:4px;
}

/* Topics Show */

div#show_topic h1 {
	color:#555;
	margin-bottom:10px;
}

div.description {
	color:#777;
	margin-bottom:20px;
}

div.description h3 {

}

div.description i {
	margin-right:10px;
	color:#6DBE2A;
}

div.description textarea {
	width:100%;
	max-width:100%;
	padding:5px;
	height:70px;
}

div#show_topic div.details {
	display:block;
	background:#eee;
	border:1px solid #e7e7e7;
	overflow:auto;
	padding:10px;
	margin-bottom:20px;
}

div#show_topic div.details a.favorite {
	margin-left:5px;
}

div#show_topic div.details small {
	position:relative;
	top:5px;
	float:right;
}

/* Topics Followers */

div.topic_followers img {
	float:right;
	padding:0 5px 5px 0;
}

/* Elements */

div.element_frame {
	margin-bottom:40px;
	border-top:1px solid #e5e5e5;
	padding-top:10px;
}

div.element_header {
	color:#999;
	position:absolute;
	margin-top:-23px;
	font-size:0.7em;
	font-weight:bold;
	text-transform:uppercase;
}

div.element_sort {
	font-size:0.8em;
	margin-bottom:10px;
}

div.topic_footer {
	width:auto;
	clear:both;
	border-top:1px solid #ddd;
	background:#f4f4f4;
	overflow:auto;
	padding:5px;
	margin-top:10px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
}

/* Topics Feed */

div#topic_feed {
	overflow:auto;
	color:#555;
}

div#topic_feed a {
	font-weight:bold;
}

div#topic_feed p {
	background:url('/users/avatars/3/small_Photo_on_2009-10-22_at_20.49.jpg') no-repeat;
	padding:10px 0 10px 30px;
	border-bottom:1px solid #ccc;
	margin-top:10px;
}

div#topic_feed p span {
	margin-top:-16px;
	display:block;
}
div#topic_feed p span img {
	margin-right:5px;
	position:relative;
	top:6px;
}

div#topic_feed small {
	display:block;
	margin-left:22px;
}

/* Element Attachments */

div#topic_attachments {
	overflow:auto;
}

div#topic_attachments p {
	padding:2px 5px 2px 20px;
	margin-bottom:10px;
	cursor:pointer;
}

div#topic_attachments label:hover {
	background:#ddd; 
}

/* Element Images */

div#topic_images {
	overflow:auto;
}

div#topic_images label {
	color:#777;
	display:block;
	font-size:0.8em;
	float:left;
	cursor:pointer;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:2px;
	text-align:center;
}

div#topic_images label img {
	display:block;
	width:64px;
}

div#topic_images label:hover {
	background:#bbb; 
}

/* Topics Links */

div#topic_links {
	cursor:pointer;
}

div#topic_links p {
	padding:5px 0;
	border-bottom:1px solid #eee;
}

div#topic_links p span {
	width:16px;
	height:16px;
	cursor:pointer;
	margin-top:-2px;
}

div#topic_links p small {
	display:block;
	margin-left:16px;
	margin-top:5px;
	color:#aaa;
}

div#topic_links p small label {
	display:block;
	color:#777;
	margin-bottom:5px;
}

/* Topics maps */

div#topic_maps {
	
}

div#topic_maps img {
	width:100%;
}

/* Topic Tasks */

div#topic_tasks p {
}

div#topic_tasks p span {
	display:block;
	width:65%;
	padding-left:25px;
	margin-bottom:10px;
}

div#topic_tasks p small {
	display:block;
	color:#999;
}

div#topic_tasks div.task_controls {
	width:25%;
}

div#topic_tasks div.task_controls a {
	font-size:0.8em;
	float:right;
}

div#topic_tasks div.task_bottom {
	clear:both;
	font-size:0.8em;
}

/* Topics Comments */

div#show_topic div.comments {
	width:auto;
	padding:10px;
}

div#show_topic div.comments p {
	clear:both;
	width:auto;
}

div#show_topic div.comments p span {
	display:block;
	width:auto;
	margin:10px 0;
	padding-bottom:10px;
	border-bottom:1px solid #fff;
}

div.show_topic p small {
	display:block;
	color:#777;
	margin-top:5px;
}

div#show_topic div.comments p input {
	
}

div#show_topic div.comments p input.add_comment {
	border:1px solid #C4E9C9;
	padding:3px;
	color:#777;
	width:500px;
	float:right;
}

div#show_topic div.comments p.new_comment textarea {
	height:30px;
	width:530px;
	max-width:530px;
	border:1px solid #C4E9C9;
	padding:5px;
	margin-bottom:5px;
}

/* Topics Notes */

div#topic_notes {

}

div#topic_notes div.new_notes { 
	padding:20px;
	text-align:center;
	color:#999;
	font-size:1.2em;
}

div#topic_notes textarea {	
	max-width:98%;
	width:98%;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:5px;
}

div#notes_body {
	white-space:pre-wrap;
}