@import "jquery-ui/ui.css";
@import "uploadify.css";

/* Fields */

p.field {
	margin-bottom:10px;	
}

p.field label {
	color:#444;
	margin-bottom:5px;
	display:block;
	font-size:1.2em;
	font-weight:bold;
}

p.field input {
	font-size:1.2em;
	color:#444;
	padding:5px;
	margin-bottom:10px;
}

p.field textarea {
	padding:10px;
	font-size:1.2em;
	width:96%;
	max-height:100px;
}

div.edit_elements p {
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

div.edit_elements p:hover {
	background:#DBFFD1;
}

div.edit_elements p span {
	display:block;
	color:#444;
	line-height:1.4em;
	font-size:0.9em;
}

input.find {
	padding:5px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#888;
	font-size:1.2em;
	width:278px;
	margin-bottom:20px;
}

/* Buttons */

.button {
	padding:5px;
	border:1px solid #c9c9c9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#C4D8AF url('/images/gradient_fffto0_1x34.png') repeat-x top;
	color:#4A993F;
	cursor:pointer;
	text-shadow: #fff 0px 1px 0px;
	font-weight:bold;
}

.button:hover {
	background:#D6EBC0 url('/images/gradient_fffto0_1x34.png') repeat-x top;
}


.button a, .button input {
	background-color:#eee;
	font-weight:bold; 
	display:inline-block;
	border:0;
	padding:3px;
	text-shadow: #fff 0px 1px 0px;
	color:#597B26;
	cursor:pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.metal {
	background:#eee url('/images/black_gradient_bottom.png') repeat-x bottom;
	border:1px solid #ccc;
	padding:8px 5px 5px 5px;
	text-shadow: #fff 0px 1px 0px;
	color:#444;
	cursor:pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:0.8em;
	letter-spacing:-.07em;
}

.metal:hover {
	text-decoration:none;
	opacity:0.85;
}

.metal:active {
	background:#fff url('/images/black_gradient_bottom.png') repeat-x bottom;
	text-decoration:none;
	text-shadow:none;
}	

/* Metal buttons for use within title bars */

.in_title {
	position:relative;
	top:4px;
}


/* Icons */

.button .icon {
	padding:5px 5px 2px 30px; 
}

.button .add_element {
	background: url('/images/icons/add_element.png') no-repeat scroll 5px 3px; 
}

.button .topic {
	background:url('/images/icons/topic16x16.png') no-repeat scroll 5px 2px; 
}

.button .users {
	background: url('/images/icons/users.png') no-repeat scroll 5px 2px; 
}

.created_by {
	padding: 2px 3px 3px 18px;
	margin-left:2px;
}

/* Boxy */

.boxy {
	background:#FAFAFB url('/images/panel_background.png') repeat-x top;
	border:1px solid #ddd;
	padding:10px;
}

.boxy h2 {
	margin-bottom:20px;
	color:#444;
	font-weight:normal;
}

