@import "jquery-ui/ui.css";

/* Fields */

p.field {
	margin-bottom:10px;	
}

p.field label {
	color:#555;
	margin-bottom:5px;
	display:block;
	font-size:1.4em;
}

p.field input {
	font-size:1.2em;
}

/* Buttons */

.button {
	padding:5px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	background:#D6F2D2 url('/images/header_slice.png') repeat-x;
	color:#444;
	cursor:pointer;
}

.button:hover {
	border:1px solid #ccc;
	background:#E1FFDD;
	-moz-border-radius:5px;
}


.button a, .button input {
	background-color:#eee;
	font-weight:bold; 
	display:inline-block;
	border:1px solid #ccc;
	padding:3px;
	text-shadow: #fff 0px 1px 0px;
	color:#444;
	cursor:pointer;
	-moz-border-radius:5px;
}

.button a, .button input:hover {
	background:#eee url('/images/black_gradient_bottom.png') repeat-x bottom;
}

/* Icons */

.button .icon {
	padding:5px 5px 2px 30px; 
	border:0;
}

.button .branch {
	background:#D6F2D2 url('/images/icons/branches.png') no-repeat scroll 5px 2px; 
}

.button .users {
	background:#D6F2D2 url('/images/icons/users.png') no-repeat scroll 5px 2px; 
}

.button_metal a {
	background-color:#eee;
	font-weight:bold; 
	border:1px solid #ccc;
	padding:5px;
	text-shadow: #fff 0px 1px 0px;
	color:#444;
	cursor:pointer;
	-moz-border-radius:5px;
}

.button_metal a:hover {
	background:#eee url('/images/black_gradient_bottom.png') repeat-x bottom;
}	
