<div class="branch_attachments branch_panel">
	<%= link_to "upload", "#", :class => "metal right" %>
	<h1 class="header">Attachments</h1>
	<label>
		<%= image_tag('/images/icons/document_128x128.png') %>
		Website_Layout_Feb022010.PDF
	</label>
	<label>
		<%= image_tag('/images/icons/photo_128x128.png') %>
		Website_template204.PNG
	</label>
</div>