<div class="element_header attachments_header" style="display:none">Attachments</div>
<p style="background:url('/images/icons/pdf16x16.png') no-repeat">
	Website_Layout_Feb022010.PDF
</p>
<p style="background:url('/images/icons/pdf16x16.png') no-repeat">
	Website_Layout_Feb022010.PDF
</p>
<p style="background:url('/images/icons/pdf16x16.png') no-repeat">
	Website_Layout_Feb022010.PDF
</p>
<p style="background:url('/images/icons/pdf16x16.png') no-repeat">
	Website_Layout_Feb022010.PDF
</p>

<div class="branch_footer">
	<%= link_to "upload", "#", :class => "metal right" %>
</div>

