<div class="branch_links element_frame" rel="links">
	<div class="element_header links_header" style="display:none">Links</div>
	<div class="element_sort"><a>abc</a> | <a>most recent</a> | <a>most useful</a></div>
	<p>
		<span class="expand_link left" style="background:url('/images/icons/arrow_right.png') no-repeat"></span>
		<a>http://onehub.com/products/</a>
		
		<small style="display:none" class="link_description">
			<label>added by <%= link_to "Brandon Dek", "#", :class => "created_by", :style => "background:url('/users/avatars/3/tiny_Photo_on_2009-10-22_at_20.49.jpg') no-repeat" %></label>
			This page shows a good example of the look and feel we're going for. Notice the colors and use of subtle gradients.
		</small>
	</p>
	<p><span class="left" style="background:url('/images/icons/arrow_right.png') no-repeat"></span><a>http://www.iconfinder.net/search/?q=iconset:fatcow</a></p>
	<p><span class="left" style="background:url('/images/icons/arrow_right.png') no-repeat"></span><a>http://www.facebook.com</a></p>
	
	<div class="branch_footer">
		<%= link_to "add link", "#", :class => "metal right" %>
	</div>
</div>

<script>
	$("document").ready(function(){
		$('.expand_link').toggle(function(){
			$('.link_description').css('display', '');
			$('.expand_link').css('background', 'url(/images/icons/arrow_down.png)')
		},
		function(){
			$('.link_description').css('display', 'none');
			$('.expand_link').css('background', 'url(/images/icons/arrow_right.png)')
		});
	})
</script>