<div class="branch_links element_frame">
	<div class="element_header" rel="links"><h1>Links</h1><a class="exit_element exit_links" style="display:none">X</a></div>
	<div class="element_sort"><a>abc</a> | <a>most recent</a> | <a>most useful</a></div>
	<p>
		<span class="expand_link left" style="background:url('/images/icons/arrow_right.png') no-repeat"></span>
		<a>http://onehub.com/products/</a>
		<span class="right"><%= image_tag('/images/icons/thumbs_up.png') %></span>
		
		<small style="display:none" class="link_description">
			<label>added by <a>Brandon Dek</a></label>
			This page shows a good example of the look and feel we're going for. Notice the colors and use of subtle gradients.
		</small>
	</p>
	<p><span class="left" style="background:url('/images/icons/arrow_right.png') no-repeat"></span><a>http://www.iconfinder.net/search/?q=iconset:fatcow</a><span class="right"><%= image_tag('/images/icons/thumbs_up.png') %></span></p>
	<p><span class="left" style="background:url('/images/icons/arrow_right.png') no-repeat"></span><a>http://www.facebook.com</a><span class="right"><%= image_tag('/images/icons/thumbs_up.png') %></span></p>
	
	<div class="branch_footer">
		<%= link_to "add link", "#", :class => "metal right" %>
	</div>
</div>

<script>
	$("document").ready(function(){
		$('.expand_link').toggle(function(){
			$('.link_description').css('display', '');
			$('.expand_link').css('background', 'url(/images/icons/arrow_down.png)')
		},
		function(){
			$('.link_description').css('display', 'none');
			$('.expand_link').css('background', 'url(/images/icons/arrow_right.png)')
		});
	})
</script>